package C2G;

message VersionInfo {
	optional string version = 2 [default="0.1.4"];
} // end

message RegisterAccount {
	required string k_id = 2;
} // end

message UnregisterAccount {
	required string k_id = 2;
} // end

message Login {
	required string k_id = 2;
} // end

message Logout {
	required string k_id = 2;
} // end

message CheckInCharge {
	required string k_id = 2;
} // end

message SelectCharacter {
	required string k_id = 2;
	required int32 selected_character = 3;
} // end

message StartGame {
	required string k_id = 2;
} // end

message EndGame {
	required string k_id = 2;
	required int32 score = 3;
	required int32 dist = 4;
	required int32 enemy_kill = 5;
	required int32 play_time = 6;
	required int32 coin = 7;
	required int32 mileage = 8;
} // end

message LoadRankInfo {
	required string k_id = 2;
} // end

message BuyItem {
	required string k_id = 2;
	required int32 item = 3;

	enum Limit {
		MIN = 1;
		MAX = 6;
	}
} // end

message BuyOrUpgradeCharacter {
	required string k_id = 2;
	required int32 character = 3;
} // end

message SendEnergy {
	required string k_id = 2;
	required string receiver_k_id = 3;
} // end

message AcceptEnergy {
	required string k_id = 2;
	required string sender_k_id = 3;
	required int64 sended_time = 4;
} // end

message RequestBaton {
	required string k_id = 2;
	required int32 character_id = 3;
} // end

message InviteFriend {
	required string k_id = 2;
	required string friend_k_id = 3;
} // end

message LoadReward {
	required string k_id = 2;
	required Reward reward = 3;

	enum Reward {
		INVITE_10_REWARD = 1;
		INVITE_15_REWARD = 2;
		INVITE_30_REWARD = 3;
		MAX = 4;
	}
} // end

message BuyCostume {
	required string k_id = 2;
	required int32 costume_id = 3;
} // end

message WearCostume {
	required string k_id = 2;
	required int32 costume_id = 3;
	required int32 character_id = 4;
} // end

message DrawFirst {
	required string k_id = 2;
} // end

message DrawSecond {
	required string k_id = 2;
	required bool draw = 3;
} // end

message EquipGhost {
	required string k_id = 2;
	required int32 ghost_id = 3;
	required int32 house_id = 4;
} // end

message UnequipGhost {
	required string k_id = 2;
	required int32 house_id = 3;
} // end

message PurchaseHouse {
	required string k_id = 2;
	required int32 house_id = 3;
} // end

message RequestEvolution {
	required string k_id = 2;
	required string receiver_k_id = 3;
	required int32 character_id = 4;
} // end

message AcceptEvolution {
	required string k_id = 2;
	required string sender_k_id = 3;
	required int32 character_id = 4;
} // end

message LoadEvolutionProgress {
	required string k_id = 2;
} // end

message LoadPostbox {
	required string k_id = 2;
} // end
