package C2G;

message VersionInfo {
} // end

message RegisterAccount {
	required string k_id = 2;
} // end

message UnregisterAccount {
} // end

message Login {
	required string k_id = 2;
} // end

message Logout {
} // end

message CheckInCharge {
} // end

message SelectCharacter {
	required int32 selected_character = 2;
} // end

message StartGame {
} // end

message EndGame {
	required int32 score = 2;
	required int32 dist = 3;
	required int32 enemy_kill = 4;
	required int32 play_time = 5;
	required int32 coin = 6;
} // end

message LoadRankInfo {
} // end

message LoadPostedEnergy {
} // end

message LoadPostedBaton {
} // end

message LoadPostedBatonResult {
} // end

message BuyItem {
	required Item item = 2;

	enum Item {
		SHIELD = 1;
		ITEM_LAST = 2;
		GHOSTIFY = 3;
		IMMORTAL = 4;
		EXP_BOOST = 5;
		RANDOM = 6;
		MAX = 7;
	}
} // end

message BuyOrUpgradeCharacter {
	required int32 character = 2;
} // end

message SendEnergy {
	required string receiver_k_id = 2;
} // end

message AcceptEnergy {
	required string sender_k_id = 2;
	required int64 sended_time = 3;
} // end

message RequestBaton {
	required string receiver_k_id = 2;
	required string map = 3;
	required int32 score = 4;
} // end

message AcceptBaton {
	required string sender_k_id = 2;
	required int64 sended_time = 3;
} // end

message EndBaton {
	required string sender_k_id = 2;
	required int64 sended_time = 3;
	required int32 score = 4;
	required int32 dist = 5;
	required int32 enemy_kill = 6;
	required int32 play_time = 7;
	required int32 coin = 8;
} // end

message AcceptBatonResult {
	required string sender_k_id = 2;
	required int64 sended_time = 3;
} // end

message UpgradeFactor {
	required int32 factor = 2;
} // end

message InviteFriend {
	required string friend_k_id = 2;
} // end

message LoadReward {
	required Reward reward = 2;

	enum Reward {
		INVITE_10_REWARD = 1;
		INVITE_15_REWARD = 2;
		INVITE_30_REWARD = 3;
		MAX = 4;
	}
} // end

message BuyCostume {
	required CostumeCategory category = 2;
	required int32 costume_id = 3;

	enum CostumeCategory {
		HEAD = 1;
		TOP = 2;
		BOTTOMS = 3;
		BACK = 4;
		MAX = 5;
	}
} // end

message WearCostume {
	required CostumeCategory category = 2;
	required int32 costume_id = 3;
	required int32 character_id = 4;

	enum CostumeCategory {
		HEAD = 1;
		TOP = 2;
		BOTTOMS = 3;
		BACK = 4;
		MAX = 5;
	}
} // end

message DrawFirst {
} // end

message DrawSecond {
	required bool draw = 2;
} // end

message EquipGhost {
	required int32 room_number = 2;
	required int32 ghost_id = 3;
} // end

message UnequipGhost {
	required int32 room_number = 2;
} // end

message PurchaseRoom {
	required int32 room_number = 2;
} // end
