package G2C;

message SystemMessage {
	required Result res = 2;

	enum Result {
		INVALID_ACCOUNT = 1;
		EXISTING_ACCOUNT = 2;
		BLOCKED_ACCOUNT	= 3;

		UNDEFINED_FIELD	= 20;

		NOT_ENOUGH_ENERGY = 40;
		NOT_ENOUGH_CASH = 41;
		NOT_ENOUGH_COIN = 42; 
		NOT_ENOUGH_DRAW = 43;

		FAILED_DB_UPDATE = 60;

		FULLY_UPGRADED = 80;

		NOT_HAVING = 100;
		ALREADY_HAVING = 101;

		INVALID_BATON = 120;
		INVALID_BATON_RESULT = 121;
		INVALID_CHARACTER = 122;
		INVALID_ITEM = 123;
		INVALID_SESSION = 124;
		INVALID_COSTUME_ID = 125;
		INVALID_GHOST = 126;
		INVALID_HOUSE_ID = 127;
		INVALID_EVOLUTION = 128;

		WRONG_APPROACH = 140;
	}
} // end

message VersionInfoReply {
	required string version = 2;
} // end

message RegisterAccountReply {
} // end

message UnregisterAccountReply {
} // end

message SelectCharacterReply {
} // end

message StartGameReply {
	required int32 energy = 2;
	required int64 last_charged_time = 3;
	repeated Item used_item_list = 4;

	message Item {
		required int32 id = 1;
		required bool on = 2;
		required int32 rest = 3;
	}
} // end

message AccountInfo {
	required int32 lv = 2;
	required int32 exp = 3;
	required int32 coin = 4;
	required int32 cash = 5;
	required int32 energy = 6;
	required int64 last_charged_time = 7;
	required int32 selected_character = 8;
	required int32 item_1 = 9;
	required int32 item_2 = 10;
	required int32 item_3 = 11;
	required int32 item_4 = 12;
	required int32 item_5 = 13;
	required int32 random = 14;
	required int32 mileage = 15;
	required int32 draw = 16;
	repeated CharacterInfo characters = 17;

	message CharacterInfo {
		required int32 id = 1;
		required int32 level = 2;
	}
} // end

message LogoutReply {
} // end

message ChargeInfo {
	required int32 energy = 2;
	required int64 last_charged_time = 3;
} // end

message RankInfo {
	required int64 overall_ranking = 2;
	repeated FriendRankInfo ranking_list = 3;
	
	message FriendRankInfo {
		required string k_id = 1;
		required int32 score = 2;
		required bool energy_sended = 3;
	}
} // end

message GameResult {
	required int32 score = 2;
	required int32 bonus_score = 3;
	required int32 total_score = 4;
	required int32 coin = 5;
	required int32 bonus_coin = 6;
	required int32 total_coin = 7;
	required int32 level = 8;
	required int32 exp = 9;
	required int32 bonus_exp = 10;
	required int32 total_exp = 11;
	required int32 mileage = 12;
	required int32 total_mileage = 13;
	required int32 draw = 14;
} // end

message BuyItemReply {
	required int32 item = 2;
	required int32 coin = 3;
} // end 

message BuyOrUpgradeCharacterReply {
	required int32 character = 2;
	required int32 lv = 3;
	required int32 coin = 4;
	required int32 cash = 5;
	required int32 mileage = 6;
	required int32 draw = 7;
} // end

message SendEnergyReply {
	required int32 mileage = 2;
	required int32 draw = 3;
} // end

message RequestBatonReply {
	required int32 coin = 2;
} // end

message AcceptEnergyReply {
	required int32 energy = 2;
} // end

message AcceptBatonReply {
} // end

message BatonResult {
	required int32 coin = 2;
	required int32 total_coin = 3;
	required bool update = 4;
} // end

message AcceptBatonResultReply {
	required bool update = 2;
	required int32 score = 3;
} // end

message InviteFriendReply {
	required int32 invite_count = 2;
	required int32 mileage = 3;
	required int32 draw = 4;
} // end

message LoadRewardReply {
	required Reward reward = 2;

	enum Reward {
		INVITE_10_REWARD = 1;
		INVITE_15_REWARD = 2;
		INVITE_30_REWARD = 3;
		MAX = 4;
	}
} // end

message BuyCostumeReply {
	required int32 costume_id = 2;
	required int32 coin = 3;
	required int32 cash = 4;
	required int32 mileage = 5;
	required int32 draw = 6;
} // end

message WearCostumeReply {
	required int32 costume_id = 2;
} // end

message DrawFirstReply {
	required Draw pick = 2;
	repeated Draw draw_list = 3;

	message Draw {
		required bool is_ghost = 1;
		required int32 id = 2;
	}
} // end

message DrawSecondReply {
	required Draw pick = 2;

	message Draw {
		required bool is_ghost = 1;
		required int32 id = 2;
	}
} // end

message EquipGhostReply {
	required int32 ghost_id = 2;	
	required int32 house_id = 3;
} // end

message UnequipGhostReply {
	required int32 house_id = 2;
} // end

message PurchaseHouseReply {
	required int32 house_id = 2;
	required int32 coin = 3;
	required int32 cash = 4;
} // end

message RequestEvolutionReply {
	required int32 coin = 2;
} // end

message AcceptEvolutionReply {
} // end

message EvolutionProgress {
	repeated Progress progress = 2;

	message Progress {
		required int32 character_id = 1;
		repeated string accepted_k_id = 2;
		required int32 lv = 3;
	}
} // end

message Postbox {
	repeated Energy energy = 2;
	repeated Baton baton = 3;
	repeated BatonResult baton_result = 4;
	repeated Evolution evolution = 5;

	message Energy {
		required string sender_k_id = 1;
		required int32 amount = 2;
		required int64 sended_time = 3;
	}

	message Baton {
		required string sender_k_id = 1;
		required string map_name = 2;
		required int32 last_score = 3;
		required int64 sended_time = 4;
	}
	
	message BatonResult {
		required string sender_k_id = 1;
		required int32 acquisition_score = 2;
		required int64 sended_time = 3;
	}

	message Evolution {
		required string sender_k_id = 1;
		required int32 character_id = 2;
		required int64 sended_time = 3;
	}
} // end
